body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

#container {
    text-align: center;
}

#options button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#message {
    font-size: 18px;
    margin-top: 20px;
}
#gif{
    width: 200px;
    height: 200px;
}